<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="<%= courseInfo.description %>" />
  <title>IAS Skool</title>
  <link rel="icon" type="image/x-icon" href="/assets/small_logo.png" />
  <link rel="stylesheet" href="/style.css" />
  <link href="/output.css" rel="stylesheet" />
</head>

<body>
  <!-- NAVBAR -->
  <%- include('./partials/navbar'); %>

    <!-- Header  -->
    <header>
      <div
        class="flex md:flex-row flex-col-reverse max-md:gap-y-5 bg-gradient-to-r from-[#01D5E1] from-0% to-[#6065DA] to-61.98%0] w-[100%] px-[20px] md:px-[100px] py-9 text-white gap-x-10">
        <div class="flex flex-col">
          <span class="font-bold text-4xl">
            <%= courseInfo.title %>
          </span>
          <p class="mt-7">
            <%= courseInfo.description %>
          </p>
          <div class="flex items-center mt-2">
            <% for(let j=0;j<courseInfo.rating;j++){ %>
              <img src="/assets/course_content/star_yellow.svg" alt="star" class="w-[13px] h-[13px] mr-1">
              <% } %>
                <p class="ml-2 text-sm font-medium text-white">
                  <%= courseInfo.rating %>.3
                    <!-- | 1472 Rating -->
                </p>
          </div>
          <div class="mt-[100px]">
            <button onclick="onClickCourseDetails('/contact#Enquire-Now')"
              class="text-white bg-[#6065DA] px-8 py-5 rounded-[45px]">
              Enroll Now Rs-<%= courseInfo.price %>
            </button>
          </div>
          <span class="mt-7 font-medium">
            <%= courseInfo.Enrolled %> Students Enrolled
          </span>
        </div>
        <!-- THUMBNAIL -->
        <div class="flex flex-col">
          <div>Offered By</div>
          <span class="text-3xl font-bold">
            <%= courseInfo.offeredby %>
          </span>
        </div>
      </div>
    </header>

    <div
      class="flex sm:flex-row max-sm:gap-y-4 flex-row font-medium gap-x-2 md:gap-x-7 px-[20px] flex-wrap md:pl-[70px] border-b-2 py-5 text-[#2B2B2B]">
      <a href="#course_outline" class="text-[#6065DA]">Course Outline</span>
        <a href="#syllabus">Syllabus</a>
        <a href="#StudyMaterial">Study Material</a>
        <a href="#Assignments">AI Assessments and Assignments</a>
        <a href="#mentorship">Mentorship</a>
        <a href="#extras">Bonus Features</a>
    </div>

    <!-- Course Content -->
    <% if(CourseOutline){ %>
      <div class="px-[20px] md:pl-[70px] md:pr-[100px] my-10 xl:w-[70%]" id="course_outline">
        <h2 class="font-bold text-3xl my-5">About this Course</h2>
        <!-- <span> 39888 recent views</span> -->
        <div id="course_content" class="my-5"></div>
        <%- CourseOutline %>
      </div>
      <% } %>

        <!-- Syllabus -->

        <% if(syllabusData){ %>
          <section id="syllabus" class="flex flex-col text-center justify-items-center">
            <h2 class="text-3xl my-10">
              Syllabus - What you will learn from this course
            </h2>
            <% for (let i=0; i < syllabusData.length; i++) { %>
              <div
                class="flex flex-row items-center gap-x-10 justify-center max-md:flex-col max-md:gap-y-10 max-lg:px-10">
                <div class="flex flex-col text-3xl max-md:flex-row max-md:gap-x-2 self-start">
                  <div>
                    <p class="">Week</p>
                  </div>
                  <div>
                    <p>
                      <%= syllabusData[i].weekNumber %>
                    </p>
                  </div>
                </div>
                <div class="flex flex-col md:w-[80%]">
                  <div class="flex flex-row items-center">
                    <img src="/assets/course_content/ri_time-line.svg" alt="timer" class="w-[50px] h-[50px]" />
                    <span class="text-[#676061] text-2xl ml-5">4 hours to complete</span>
                  </div>
                  <div class="text-left">
                    <p>
                      <%= syllabusData[i].weekTitle %>
                    </p>
                  </div>
                  <% if (syllabusData[i].tests.length> 0 || syllabusData[i].videos.length > 0 ||
                    syllabusData[i].readings.length > 0) {%>
                    <div class="flex flex-row font-medium gap-x-3 items-center mt-2 w-[70%]">
                      <img src="/assets/course_content/syllabus.svg" alt="syllabus" class="w-[25px] h-[25px]">
                      <% if (syllabusData[i].readings.length> 0) {%>
                        <p>
                          <%= syllabusData[i].readings.length %> Resources,
                        </p>
                        <% }%>
                          <% if (syllabusData[i].videos.length> 0) {%>
                            <p>
                              <%= syllabusData[i].videos.length %> Videos,
                            </p>
                            <% }%>
                              <% if (syllabusData[i].tests.length> 0) {%>
                                <p>
                                  <%= syllabusData[i].tests.length %> tests,
                                </p>
                                <% }%>
                                  <div>
                                    <button
                                      class="toggle-button button_<%= syllabusData[i].weekNumber %> text-[#6065DA]"
                                      onclick="expand('<%= syllabusData[i].weekNumber %>')">see more</button>
                                  </div>
                    </div>
                    <hr class="text-center mt-10" />
                    <% if (syllabusData[i].videos.length> 0) {%>
                      <div
                        class="expandable-content transition-all ease-in-out duration-300 content_<%= syllabusData[i].weekNumber %> hidden">
                        <div class="content flex flex-col my-3 text-left gap-y-2">
                          <div class="flex flex-row gap-x-2 items-center">
                            <img src="/assets/course_content/video.svg" alt="video" class="w-[25px] h-[25px]">
                            <p class="font-bold ">
                              <%= syllabusData[i].videos.length %> Videos
                            </p>
                          </div>
                          <% for (let j=0; j < syllabusData[i].videos.length; j++) { %>
                            <div>
                              <%= syllabusData[i].videos[j].title %>
                                <%= syllabusData[i].videos[j].time %>
                            </div>
                            <% } %>
                              <hr class="my-2" />
                        </div>
                        <% }%>

                          <% if (syllabusData[i].readings.length> 0) {%>
                            <div class="content flex flex-col my-3 text-left gap-y-2">
                              <div class="flex flex-row gap-x-2 items-center">
                                <img src="/assets/course_content/notes.svg" alt="video" class="w-[25px] h-[25px]">
                                <p class="font-bold ">
                                  <%= syllabusData[i].readings.length %> Notes
                                </p>
                              </div>
                              <% for (let j=0; j < syllabusData[i].readings.length; j++) { %>
                                <div>
                                  <%= syllabusData[i].readings[j].title %>
                                    <%= syllabusData[i].readings[j].time %>
                                </div>
                                <% } %>
                                  <hr class="my-2" />
                            </div>
                            <% }%>

                              <% if (syllabusData[i].tests.length> 0) {%>
                                <div class="content flex flex-col my-3 text-left gap-y-2">
                                  <div class="flex flex-row gap-x-2 items-center">
                                    <img src="/assets/course_content/tests.svg" alt="video" class="w-[25px] h-[25px]">
                                    <p class="font-bold ">
                                      <%= syllabusData[i].tests.length %> Test
                                    </p>
                                  </div>
                                  <% for (let j=0; j < syllabusData[i].tests.length; j++) { %>
                                    <div class="">
                                      <%= syllabusData[i].tests[j].title %>
                                        <%= syllabusData[i].tests[j].time %>
                                    </div>
                                    <% } %>
                                      <hr class="my-2" />
                                </div>
                      </div>
                      <% }%>
                        <% } %>

                </div>
              </div>
              <% } %>
          </section>
          <% } %>


            <% if(StudyMaterial){ %>
              <div id="StudyMaterial" class="px-[20px] md:pl-[70px] md:pr-[100px] my-10 xl:w-[70%]" id="course_outline">
                <h2 class="font-bold text-3xl my-5">Study Material</h2>
                <div id="StudyMaterial" class="editorjs my-5">
                  <%- StudyMaterial %>
                </div>
              </div>
              <% } %>
                <% if(Assignments){ %>
                  <div id="Assignments" class="px-[20px] md:pl-[70px] md:pr-[100px] my-10 xl:w-[70%]"
                    id="course_outline">
                    <h2 class="font-bold text-3xl my-5">Assignments</h2>
                    <div id="Assignments" class="editorjs my-5">
                      <%- Assignments %>
                    </div>
                  </div>
                  <% } %>

                    <% if(mentorship){ %>
                      <div id="mentorship" class="px-[20px] md:pl-[70px] md:pr-[100px] my-10 xl:w-[70%]"
                        id="course_outline">
                        <h2 class="font-bold text-3xl my-5">mentorship</h2>
                        <div id="mentorship" class="editorjs my-5">
                          <%- mentorship %>
                        </div>
                      </div>
                      <% } %>

                        <% if(extras){ %>
                          <div id="extras" class="px-[20px] md:pl-[70px] md:pr-[100px] my-10 xl:w-[70%]"
                            id="course_outline">
                            <h2 class="font-bold text-3xl my-5">extras</h2>
                            <div id="extras" class="editorjs my-5"><%- extras %></div>
                          </div>
                          <% } %>


                            <!-- JOIN US TODAY -->
                            <%- include('./partials/joinus'); %>

                              <!-- Footer -->
                              <footer><%- include('./partials/footer'); %></footer>
                              <!-- swiper -->

                              <script>
                                function expand(expandable_content_class) {
                                  let toggleButton = document.querySelector(".button_" + expandable_content_class);
                                  let expandableContent = document.querySelector(".content_" + expandable_content_class);
                                  expandableContent.classList.toggle("hidden");

                                  if (expandableContent.classList.contains("hidden")) {
                                    toggleButton.innerHTML = 'see more'
                                  } else {
                                    toggleButton.innerHTML = 'see less'
                                  }
                                }
                              </script>

                              <script src="main.js"></script>

</body>

</html>